<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech-Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div>

        <header id="nav">
            <h1>
                <a class="row" href="/">Tech-Blog</a>
            </h1>
            <nav id="nav">
                {{#if logged_in}}
                <a class="row" href="/homepage">profile</a>
                <button class="not-button" id="logout">logout</button>
                {{else}}
                <a class="row" href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>
</html>