<div class="row">

    <div class="form">
        <h2 class="form-together">Login</h2>

        <form class=" login-form">
            <div class="form-together">
                <label class="label">email:</label>
                <input class="form-input" type="text" id="user-email" />
            </div>
            <div class="form-together">
                <label class="label">password:</label>
                <input class="form-input" type="password" id="user-password" />
            </div>
            <div class="form-together">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="form">
        <h2 class="form-together">Signup</h2>

        <form class="signup-form">
            <div class="form-together">
                <label class="label" for="name-signup">name:</label>
                <input class="form-input" type="text" id="signup-name" />
            </div>
            <div class="form-together">
                <label class="label" for="email-signup" id="user-email">email:</label>
                <input class="form-input" type="text" id="signup-email" />
            </div>
            <div class="form-together">
                <label class="label" for="password-signup">password:</label>
                <input class="form-input" type="password" id="signup-password" />
            </div>
            <div class="form-together">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>


<script src="./js/login.js"></script>